<p>marlowe</p>
{% schema %}
{
  "name": "Product banner",
  "settings": [],
  "blocks": [
    {
      "type": "product-slide",
      "name": "Product slide"
    }
  ],
  "presets": [
    {
      "name": "Product banner"
    }
  ]
}
{% endschema %}
