@import 'tailwindcss';

/* announcement-bar */
.marquee {
  display: flex;
  animation: marquee-scroll 17s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.marquee-item {
  white-space: nowrap;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* announcement-bar */

@theme {
  --animate-loop-scroll: loop-scroll 20s linear infinite;

  @keyframes loop-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
